/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
  list-style: none;
}

/* -------------------- BACKGROUNDS -------------------- */

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.fondo-welcome {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-welcome.png") !important;  
}

.fondo-inicio-registro {
  background-image: url("../img/fondo.inicio-registro.png") !important; 
}

.fondo-inicio-usuario {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-inicio-usuario.png") !important;  
}

.fondo-inicio-admin {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-inicio-admin.png") !important; 
}

.fondo-habitos {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-habitos.png") !important; 
}

.fondo-progreso {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-progreso.png") !important; 
}

.fondo-index {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-index.png") !important; 
}

.fondo-1 {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-1.png") !important; 
}

.fondo-2 {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-2.png") !important; 
}

.fondo-3 {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-3.png") !important; 
}

.fondo-4 {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-4.png") !important; 
}

.fondo-5 {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-5.png") !important; 
}

.fondo-groowi {
  background-image: linear-gradient(#fff9dc66), url("../img/fondo-groowi.png") !important; 
}

/* ---------------menu--------------- */

.profile-icon-bonis,
.menu-icon-bonis {
  font-size: 1.7rem;
  cursor: pointer;
}

.dropdown-menu .active {
  background-color: #e0f7fa !important;
  font-weight: bold;
}

/* Para botones activos del menú */
.dropdown-item.active {
  background-color: #ffdb8e !important;
  color: #cfa604 !important; 
  font-weight: bold;
}

/* Y para el ícono dentro del menú hamburguesa */
/* Para activar también el icono */
.dropdown-item.active .icono-menu {
  color: #cfa604 !important;
}


.icono-menu {
  font-size: 16px !important; /* Igual al texto */
  vertical-align: middle;
}

/* --------------avatar------------ */
.avatar-perfil {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* --------------welcome------------- */

.container-growi {
  max-width: 700px; 
  margin: 0; 
  padding: 20px;
}

.titulo-growi {
  font-size: 90px;
  font-weight: bold;
  color: #6A6545;
}

.texto-growi {
  font-size: 50px;
  color: #6A6545;
  margin-bottom: 60px;
}

.btn-comenzar {
  background-color: #FFDA67;
  border-radius: 30px;
  padding: 25px 50px;
  font-weight: bold;
  font-size: 40px;
  color: #2D6557;
  text-decoration: none;
  border: none;
}

.btn-comenzar:hover {
  background-color: #f7c83d;
  color: #1f6553;
  
}

.growi-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 20px;
  margin: 0;
}


/* login */

.caja-login {
  background-color: #fdf4d5b0;
  border: 3px solid #FFDA67;
  border-radius: 25px;
}

.titulo-login {
  font-size: 40px;
  color: #2D6557;
}

.enlace-registro {
  font-weight: bold;
  color: #2D6557;
  text-decoration: none;
}

.enlace-registro:hover{
  color: #309993;
}

.campo-login {
  border-radius: 20px;
  padding: 15px;
  font-size: 18px;
  width: 90%;
  border: 3px solid #ffdc75;
}

.btn-login {
  background-color: #FFDA67;
  border-radius: 30px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #2D6557;
  text-decoration: none;
  border: none;
  width: 90%;
}

.btn-login:hover {
  background-color: #f7c83d;
  color: #1f6553;
  
}

.login-icono {
  color: #309993;
  font-size: 45px;
  cursor: pointer;
  transition: color 0.3s;
}

.login-icono i:hover {
  color: #ffdc75;
}

.icono {
  position: absolute;
  top: 50%;
  right: 9%;
  transform: translateY(-50%);
  font-size: 23px;
  color: #6A6545;
  cursor: pointer;
}
.icono:hover {
  color: #2D6557;
}

.enlace-olvide {
  font-size: 16px;
  color: #2D6557;
  text-decoration: none;
}

.enlace-olvide:hover {
  color: #309993;
}

/* -------------- lista_usuarios ----------------- */


/* Título vistoso */
.lista_usuarios_titulo {
  font-size: 32px; 
  color: #2e9a83; 
  background: #daf0d5; 
  padding: 20px 100px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}

.lista_usuarios_tabla {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  overflow: hidden;
  border: 5px solid #e7af055c !important; 
  border-radius: 20px;
}

/* Cabecera de tabla */
.lista_usuarios_tabla thead th {
  background-color: #f9d66f; 
  font-weight: bold;
  font-size: 18px; 
  padding: 15px; 
  border: solid 2px #e7af05;
  color: #6d400c;
}

/* Filas alternadas */
.lista_usuarios_tabla tbody tr:nth-child(odd) {
  background-color: #fff9e0 !important; 
}

.lista_usuarios_tabla tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* Celdas */
.lista_usuarios_tabla td {
  padding: 15px; 
  border: solid 2px #e7af05;
  vertical-align: middle;
  font-size: 16px; 
}

/* Iconos CRUD */
.btn-ver, .btn-editar, .btn-eliminar {
  font-size: 24px;
  padding: 8px;
  margin: 0 6px;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

/* Icono VER */
.btn-ver {
  color: #1ab7c9; 
}

.btn-ver:hover {
  color: #117b8b; 
  transform: scale(1.2);
}

/* Icono EDITAR */
.btn-editar {
  color: #ff8d8d; 
}

.btn-editar:hover {
  color: #c25858; 
  transform: scale(1.2);
}

/* Icono ELIMINAR */
.btn-eliminar {
  color: #f96d02; 
}

.btn-eliminar:hover {
  color: #c16700; 
  transform: scale(1.2);
}
/* -------------------- USUARIO INFO -------------------- */

.card-diseño-usuario {
  background-color: #fff2c6c2 !important;
  border-radius: 40px !important;
  border: 5px solid #fdd25340 !important;
  box-shadow: 0 4px 8px #0000001a;
  padding: 1.5rem;
  max-width: 450px;
  width: 100%;

}

.card-nombre {
  font-size: 1.8rem;
  font-weight: bold;
  color: #309993;
}

.card-correo {
  font-size: 1rem;
  color: #309993;
  margin-bottom: 1rem;
}

.subcard-datos {
  background-color: #faf6eb;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
}

.subcard-datos .list-group-item {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: #3c2103d7;
}

.btn-regresar-icono {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.8rem;
  color: #fdd353;
  text-decoration: none;
}

.btn-regresar-icono:hover {
  color: #e7af05;
}

.icono-editar {
  text-align: center;
}

.btn-editar-icono {
  font-size: 50px; 
  color: #fdd353;
  text-decoration: none;
}

.btn-editar-icono:hover {
  color: #e7af05;
}

.growi-imagen img {
  width: 100%;
  max-width: 450px;
}

/* Cuando la pantalla es menor a 768px (como en celular), cambia el tamaño a 250px */
@media (max-width: 768px) {
  .growi-imagen img {
    max-width: 250px;
  }
}
/* ---------index de USUARIO---------- */
.boton-habito {
  width: 180px;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, background-color 0.2s;
  text-decoration: none;
  display: inline-block;
}

.boton-habito:hover {
  transform: scale(1.05);
  cursor: pointer;
}

  /* Estilo base para botones cuadrados */
  .boton-cuadrado {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;
  }

  /* Botón Agregar */
  .boton-agregar {
    background-color: #f9a28adf;
    color: #ffffff;
    border: 5px solid #fd795bdc;

  }

  .boton-agregar:hover {
    background-color: #fd795bdc;
  }

  .agregar-icon {
    font-size: 50px;
  }

  /* Botón Ver */
  .boton-ver {
    background-color: #51c2b3ea;
    color: #ffffff;
    border: 5px solid #3a9d90e0;

  }

  .boton-ver:hover {
    background-color: #3a9d90e0;
  }

  .ver-icon {
    font-size: 50px;
  }

  /* Botón Historial */
  .boton-huella {
    background-color: #ffe57fdf;
    color: #ffffff;
    border: 5px solid #f8bd0de1;
  }

  .boton-huella:hover {
    background-color: #f8bd0de1;
  }

  .huella-icon {
    font-size: 50px;
  }

.groowi-index {
  width: 100%;
  max-width: 500px;
  background-color: #FFFADC; 
  border-radius: 50px;
  transition: all 0.3s ease;
}
/* Cuando la pantalla es menor a 768px (como en celular), cambia el tamaño a 250px */
@media (max-width: 768px) {
  .growi-index img {
    max-width: 250px;
  }
}

/* ------------BIENVENIDA---------------- */
.bienvenida-card {
  background-color: #fbecaf96;
  border: 5px solid #facc4442;
  border-radius: 20px;
}

.bienvenida-nombre {
  font-size: 2rem;
  color: #64634b;
}

.bienvenida-frase {
  font-size: 1.2rem;
  color: #64634b;
}

.sombra-suave {
  box-shadow: 0 4px 12px #0000001a;
}

.frase-calendario {
  font-size: 20px;
  color: #64634b;
  text-align: center;
  margin-top: 20px;
  background: #fffae8;
  border-radius: 40px;
}



/* ----------------CALENDARIO----------------- */
/* Contenedor principal del calendario */
.calendario-habitoo {
  background: #fffae8;
  border-radius: 20px;
  border: 5px solid #facc4440;
  padding: 20px;
  width: fit-content; /* Ajusta el tamaño al contenido */
  margin: 20px auto;
  box-shadow: 0 0 10px #0000000d; 
}

/* Encabezado del calendario (flechas y nombre del mes) */
.encabezado-calendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* Título del mes */
.encabezado-calendario h2 {
  margin: 0;
  text-transform: capitalize; /* Para que el mes tenga primera letra en mayúscula */
  font-weight: bold;
  color: #3a9d8f;
}

/* Flechas decorativas */
.flecha {
  background: none;
  border: none;
  font-size: 24px;
  cursor: default;
  color: #3a9d8f;
}

.flecha:hover {
  color: #24726e;
  transform: scale(1.2);
  transition: color 0.3s, transform 0.3s;
}

/* Estructura en grilla de 7 columnas (una por día de la semana) */
.grid-calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

/* Letras de los días de la semana (D, L, M, etc.) */
.dia-semana {
  font-weight: bold;
  color: #3a9d8f;
  text-align: center;
}

/* Celda vacía */
.celda,
.celda-dia {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}

/* Celdas con los días normales */
.celda-dia {
  background: #fefefe;
  color: #2b534f;
  transition: background-color 0.8s, color 0.8s;
}

.celda-dia:hover {
  background: #ffdc75;
  color: #000;
}

/* Día actual resaltado */
.celda-dia.actual {
  background: #ffe57f;
  font-weight: bold;
  color: #000;
}

/* Responsivo para dispositivos móviles */
@media (max-width: 600px) {
  .calendario-habitoo {
    padding: 10px;
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 380px; /* Limita el ancho máximo */
  }

  .celda,
  .celda-dia {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
}



/* -------------Header--------------- */
.header-bonis {
  background-color: #daf0d5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container-header-bonis {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 32px;
}

.nav-enlace-bonis {
  color: #309993;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 0;
  position: relative;
}

.nav-enlace-bonis:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffdc75;
  border-radius: 3px;
  transition: transform 0.2s ease;
}

.nav-enlace-bonis.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffdc75;
  border-radius: 3px;
}

.user-icons-bonis i {
  color: #309993;
  margin-left: 10px;
  font-size: 45px;
  cursor: pointer;
  transition: color 0.3s;
}

.user-icons-bonis i:hover {
  color: #ffdc75;
}

.menu-icon-bonis {
  display: inline-block !important;
}
/* 

/* -------------------- FOOTER -------------------- */
.footer-bonis {
  background-color: #daf0d5;
  font-family: 'Fredoka', sans-serif;
  padding-bottom: 32px;
}

.container-footer-bonis {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 32px; 
}

.footer-titulo {
  color: #309993;
  font-weight: bold;
  font-size: 20px;
}

.footer-enlace {
  color: #309993;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  display: inline-block;
  padding-bottom: 3px; 
}


.footer-enlace:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffdc75;
  border-radius: 3px;
  transition: transform 0.2s ease;
}

.footer-texto {
  color: #309993;
  margin-bottom: 8px; 
  font-size: 17px; 
}

.footer-icono {
  color: #309993;
  font-size: 30px;
  transition: color 0.3s; 
}

.footer-icono:hover {
  color: #ffdc75;
}

.dot-bonis {
  height: 8px;
  width: 8px;
  background-color: #ffdc75;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px; 
}

.footer-linea {
  border: none;
  height: 2px;
  background-color: #8ec5a8;
  margin: 32px 32px 16px 32px; 
}

.footer-creditos {
  color: #309993;
  font-size: 19px; 
}

.footer-enlaces-legales {
  display: flex;
  justify-content: center;
  gap: 8px; 
  flex-wrap: wrap;
  margin-top: 4px;
  position: relative;
}

.footer-enlaces-legales a {
  color: #309993;
  font-size: 16px; 
}


.footer-enlaces-legales a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffdc75;
  border-radius: 3px;
  transition: transform 0.2s ease;
}

/* Estilo del contenedor de iconos */
.user-icons-bonis i {
  color: #309993;
  margin-left: 10px;
  font-size: 45px;
  cursor: pointer;
  transition: color 0.3s;
}

/* Estilo del menú desplegable */
.menu-usuario-bonis {
  background-color: #309993;
  border: none;
  border-radius: 10px;
  padding: 5px 0;
  min-width: 180px;
}

/* Estilo de cada elemento */
.item-usuario-bonis {
  color: white;
  font-weight: 500;
  padding: 8px 15px;
}

/* Hover para elementos */
.item-usuario-bonis:hover {
  background-color: #24726e;
  color: white;
}

/* Íconos dentro del menú */
.icono-menu-bonis {
  font-size: 18px;
  margin-right: 8px;
}



/* Estilos para dispositivos móviles */
@media (max-width: 600px) {

  .fondo-welcome {
    height: 100vh; 
  }
  .titulo-growi {
    font-size: 40px; 
  }

  .texto-growi {
    font-size: 18px; 
  }

  .btn-comenzar {
    font-size: 16px; 
    padding: 10px 20px; 
  }

  .container-growi {
    padding: 10px; 
  }
  .container-growi img {
    width: 150px; 
  }

  .growi-img {
    max-width: 200px;
    width: 100%;  
    height: auto;
  }
  .caja-login {
    padding: 20px 15px;
    border-width: 2px;
  }

  .titulo-login {
    font-size: 28px;
  }

  .campo-login {
    font-size: 16px;
    padding: 12px;
    width: 100%;
  }

  .btn-login {
    font-size: 18px;
    padding: 8px;
    width: 100%;
  }

  .login-icono {
    font-size: 35px;
  }

  .icono {
    font-size: 18px;
    right: 8%;
  }

  .enlace-olvide {
    font-size: 14px;
  }
  
}



